@font-face {
    font-family: 'Cheveuxdange';
    src: url('Cheveuxdange.eot');
    src: url('Cheveuxdange.eot?#iefix') format('embedded-opentype'),
        url('Cheveuxdange.woff2') format('woff2'),
        url('Cheveuxdange.woff') format('woff'),
        url('Cheveuxdange.ttf') format('truetype'),
        url('Cheveuxdange.svg#Cheveuxdange') format('svg');
    font-weight: 500;
    font-style: normal;
}



header{
    height: 20%;
    
}
body{
     background-image: url(images/graph.svg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
#playButton{
    background-image: url(images/red.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:35%;
  border-radius: 20%;
  font-family: HandWritten;
  font-size: 150%
}
#highButton{
    background-image: url(images/blue.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:35%;
  border-radius: 20%;
}
footer{
    position: absolute;
    bottom: 2%;
    right: 3%;
}
#timer{
    position: absolute;
    right: 3%;
    top: 0%;
    font-family: Cheveuxdange;
    font-size: 200%;
}

.choice{
    background-image: url(images/scrible.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:35%;
  border-radius: 20%;
  display: inline-block;
  font-family: Impact;
  color: white;
  font-size: 225%;
  
}
.endScreen{
    font-family: Cheveuxdange;
}



/*@media screen and (-webkit-min-device-pixel-ratio:1.1) {
    _:-webkit-full-screen, .selector { property:value; } 
    
    
    


header{
    height: 20%;
    
}
body{
     background-image: url(images/graph.svg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden
}
#playButton{
    background-image: url(images/red.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:90%;
  border-radius: 20%;
  font-family: HandWritten;
  font-size: 150%;
  margin-left: 25%;
}
#highButton{
    background-image: url(images/blue.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:90%;
  border-radius: 20%;
  margin-left: 25%;
}
footer{
    position: absolute;
    bottom: -30%;
   
}
#timer{
    position: absolute;
    right: 3%;
    top: 0%;
    font-family: cursive;
    font-size: 200%;
    color: grey;
}
#unitCircle{
    width: 50%;
    height: 100%;
    position: absolute;
}
#answer{
    width: 100%;
    height: 60%;
    position: absolute
}




}
