@font-face {
    font-family: 'Cheveuxdange';
    src: url('fonts/Cheveuxdange.eot');
    src: url('fonts/Cheveuxdange.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cheveuxdange.ttf') format('truetype'),
        url('fonts/Cheveuxdange.svg#Cheveuxdange') format('svg');
    font-style: bold;
}
@font-face {
    font-family: 'Tequila';
    src: url('fonts/Tequila.eot');
    src: url('fonts/Tequila.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tequila.ttf') format('truetype'),
        url('fonts/Tequila.svg#Tequila') format('svg');
    font-style: lighter;
}


header{
    height: 23%;
    width: 100%;
    
}
body{
     /*background-image: url(images/graph.svg);*/
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
text-decoration: none;
}
#playButton{
    background-image: url(images/red.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:75%;
  border-radius: 20%;
  font-family: Cheveuxdange;
  display: inline-block;
color: black;
    font-size: 200%;
}
#highButton{
    background-image: url(images/blue.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:75%;
  border-radius: 20%;
  display: inline-block;
font-family: Cheveuxdange;
    color: black;
    font-size: 200%;
}
footer{
    position: absolute;
    bottom: 2%;
    right: 3%;
}
#timer{
    position: absolute;
    right: 3%;
    top: 0%;
    font-family: Cheveuxdange;
    font-size: 200%;
}

.choice{
    background-image: url(images/scrible.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20%;
  width:75%;
  border-radius: 20%;
  display: inline-block;
  font-family: Helvetica;
  color: white;
  font-size: 225%;
  
}
#menuItem{
  background-image: url(images/scrible.png);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 17%;
  width:75%;
  border-radius: 25%;
    color: white;
    font-family: Cheveuxdange;
    font-size: 200%
    
}


.endScreen{
    font-family: Cheveuxdange;
    color: #4c4c4c;
    
}
h1{
    font-family: Cheveuxdange;
  font-size: 200%;
  color: black;
}
.number{
    font-family: Cheveuxdange;
  color: #4c4c4c;
  font-weight: 30;
  font-size: 750%;
}
a{
    text-decoration: none;
}
#question{
   font-family: Cheveuxdange;
}
.question{
    font-size: 500%;
    margin-top: -90;
    margin-bottom: 0;
    font-family: Cheveuxdange,Tequila;
    color: 	#3d598b;
}
.questionRadian{
    font-size: 450%;
    margin-top: -110;
    margin-bottom: -50;
    font-family: Cheveuxdange,Tequila;
    color: #3d598b;
}
table{
    font-family: Cheveuxdange,Tequila;
    font-size: 150%;
    
}
